<% provide(:title, "Редактирование: #{@page.name}") %>


<div class="row">
	<%= form_for @page, :url => admin_page_path do |f| %>
	    <legend>Редактирование раздела: <%= @page.name %></legend>

	   	<%= render 'fields', f: f %>	    
	<% end %>
</div>

<script type="text/javascript">
	<%= raw page_edit_javascripts %>
</script>
