<% provide(:title, "Админка") %>

<% content_for :sidebar_l2 do %>
<div id="sidebar-left2" class="span2">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked">
			<% @pages.each do |p| %>
				<%= render 'rows', p: p, level: 0 %>
			<% end %> 
		</ul>				
	</div>
</div>
<% end %>


<h1>Здесь будет небольшой дашборд для страниц сайта</h1>
