<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Письмо с сайта ...</h1>

        <p>Писмьо от пользователя: <%= @message.name %> (<%= @message.email %>)</p>

        <p>Текст: <%= @message.content %></p>
    </body>
</html>