<% if object.errors.any? %>
<div class="alert alert-error">
	<h4 class="alert-heading">Необходимо исправить <%= object.errors.full_messages.count %> <%= Russian.pluralize(object.errors.full_messages.count, 'ошибку', 'ошибки', 'ошибок') %>!</h4>
    <% object.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
</div>
<% end %>