<% provide(:title, @page.title) %>
<% provide(:metatags, meta_tags(@page)) %>

<% if field = @page.field_by_name('h1') %>
<h1><%= field.value %></h1>
<% end %>

<% if c = @page.content_by_name('main_content') %>
<%= raw c.content %>
<% end %>
