<% provide(:title, @page.name) %>
<% provide(:metatags, meta_tags(@page)) %>

<% if field = @page.field_by_name('h1') %>
<h1><%= field.value %></h1>
<% end %>

<%= render 'news_list', p: @page %>

<% if @page.page_content.first %>
<%= raw @page.page_content.first.content %>
<% end %>





