<div class="container content">
	<div class="row-fluid">
		<footer class="footer">
		  <small>
		    <a href="http://railstutorial.org/">Rails Tutorial</a>
		    by Michael Hartl
		  </small>
		  <nav>
		    <ul>
		      <li><%= link_to "About",   page_path('about') %></li>
		      <li><%= link_to "Contact", '#' %></li>
		      <li><a href="http://news.railstutorial.org/">News</a></li>
		      <li><%= link_to "Contact", '#' %></li>
		    </ul>
		  </nav>
		</footer>
	</div>
</div>