<% if page_items(p).present? %>
	<li class="dropdown">
		<%= link_to raw("#{p.name} <b class=\"caret\"></b>"), (p.slug == 'index' ? '/' : "/#{p.slug}"), class: 'dropdown-toggle', :'data-toggle' => "dropdown" %>
		
		<ul class="dropdown-menu">
		<% page_items(p).each do |children| %>			
			<%= render 'layouts/top_menu_items', p: children, level: level + 1 %>			
		<% end %> 
		</ul>
	</li>
<% else %>
	<li>
		<%= link_to p.name, p.slug == 'index' ? '/' : page_path(p.slug) %>
	</li>
<% end %>