<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/"><%= setting_by_name 'site_name' %> </a>
		<ul class="nav">
		<% top_menu_items.each do |item| %>
			<%= render 'layouts/top_menu_item', item: item, level: 0 %>
		<% end %> 
		</ul>
	</div>
</div>

