<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/">Rhino CMS</a>
		<ul class="nav">
		<% page_items.each do |p| %>
			<%= render 'layouts/top_menu_items', p: p, level: 0 %>
		<% end %> 
		</ul>
	</div>
</div>

